.aboutpage {
    width: 100%;
    height: auto;
}

.about-content-1 {
    width: 100%;
    height: 120vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


.about-header {
    padding-top: 5rem;
    color: black;
    opacity: 0.8;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.team {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    gap: 3rem;
}

.team-part {
    width: 20%;
    height: 100%;
}

.team-image {
    width: 100%;
    height: 50%;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.3rem;
}

.team-name {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.team-function {
    opacity: 0.8;
    font-size: 1.1rem;
}

.team-description {
    padding-top: 1rem;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
}


.team-image {
    width: 100%;
}
.team-image img {
    width: 100%;
}



/* about content 2 start */


.about-content-2 {
    width: 100%;
    height: 100vh;
    background-color: blue;
}